.title {
  font-family: Arial;
  font-size: 50px;
  text-align: center;
}

.sub_title {
  font-family: Arial;
  font-size: 15x;
  text-align: center;
}

.input_btn {
  margin: auto;
  margin-top: 50px;
}